.button {
	color: $color-primary !important;
	border: 1px solid $color-primary !important;
	display: inline-block;
	border-radius: 3px;
	font-size: 12px;
	height: 28px;
	padding: 5px 14px 9px;
	cursor: pointer;

	&.m {
		padding-left: 30px;
		position: relative;

		span {
			background: transparent url('../img/profile-icons/ico-m-alt.png') left top no-repeat;
			display: inline-block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 3px;
			top: 3px;
			background-size: cover;
		}

		&:hover span {
			background-image: url('../img/profile-icons/ico-m-hover.png');
		}
	}

	&.f {
		padding-left: 30px;
		position: relative;

		span {
			background: transparent url('../img/profile-icons/ico-f-alt.png') left top no-repeat;
			display: inline-block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 3px;
			top: 3px;
			background-size: cover;
		}

		&:hover span {
			background-image: url('../img/profile-icons/ico-f-hover.png');
		}
	}

	&.button-stretch {
		width: 100%;
	}

	span.circle {
		background: $color-primary-contrast;
		color: $color-primary;
		display: inline-block;
		margin-left: 4px;
		padding: 1px 6px;
		position: relative;
		top: -1px;
		border-radius: 350px;
		float: right;

	}

	&:hover {
		text-decoration: none;
		color: $color-primary-contrast !important;
		background: $color-primary !important;
		border: 1px solid $color-primary !important;

		span.circle {
			background: $color-primary;
			color: $color-primary-contrast;
		}
	}

	&.alt {
		border-color: $color-primary-contrast !important;
		color: $color-primary-contrast !important;

		&:hover {
			color: $color-primary !important;
			background: $color-primary-contrast !important;
			border: 1px solid $color-primary-contrast !important;
		}
	}

}

.block-button {
	border: 1px solid $color-primary;
	color: $color-light-grey;
	display: block;
	border-radius: 5px;
	padding: 6px 10px;
	text-align: center;
	font-size: 13px;
	cursor: pointer;

	p {
		margin-bottom: 4px;
	}

	strong {
		color: $color-primary;
		font-weight: bold;
	}

	p:last-child{
		margin-bottom: 0;
	}

	&:hover {
		border: 1px solid $color-primary;
		color: $color-primary-contrast;
		background: $color-primary;

		strong {
			color: $color-primary-contrast;
		}
	}
}

.btn.selectpicker {
	padding-top: 4px;
	padding-bottom: 4px;
}