#home {

	height: 670px;
	background:transparent url('../img/bg-home.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	padding-top: 120px;
	margin-top: 115px;

	h2 {
		font-size: 30px;

		a {
			text-decoration: underline;
		}
	}

	a {
		color: #fff;
	}

	.features {
		margin-top: 25px;

		li {
			list-style: none;
			background:transparent url('../img/tick-1.png') left 10px no-repeat;
			padding: 8px 40px;
			font-size: 24px;
		}
	}

	.cta {
		margin-top: 75px;

		a {
			background: $color-btn-orange;
			font-size: 30px;
			padding: 29px 36px;
			font-weight: bold;
		}
	}
}