#pricing {
	background:transparent url('../img/bg-pricing.jpg') 50% 50% no-repeat;
	height: 725px;
	box-sizing: border-box;
	background-size: cover;
	padding: 50px 0 90px;
	text-align: center;

	h2 {
		display: inline-block;
		background: #fff;
		color: #6079bb;
		padding: 10px;
		margin: 20px auto;
		text-transform: uppercase;
	}

	.bluebox {
		position: relative;
		margin-top: 40px;
		background:rgba(96, 121, 187, 0.9);
		padding: 10px 10px 60px 10px;

		.pricing-comparision {
			border-bottom: 1px solid #536caf;
			padding-bottom: 30px;

			&:after{
				@include clear();
			}

			.price-box {
				width: 20%;
				float: left;
				display: block;
				box-sizing: border-box;
				border-right: 1px solid #536caf;
				padding-top: 80px;
				background:transparent url('../img/houses-sprite.png') left top no-repeat;

				&.price-box-1 {background-position: 65px 0;}
				&.price-box-2 {background-position: -125px 0;}
				&.price-box-3 {background-position: -318px 0;}
				&.price-box-4 {background-position: -508px 0;}
				&.price-box-5 {background-position: -700px 0;}


				&:last-child {
					border-right: 0;
				}

				.detail {
					font-size: 28px;
				}

				.price-text {
					font-size: 48px;
					font-weight: bold;
					background: #536caf;
					border-radius: 8px;
					margin: 15px;
					padding: 10px;
				}
			}
		}

		.blue-box-text {
			margin-top: 20px;
			font-size: 20px;

			strong {
				font-weight: bold;
			}

			p {
				padding-bottom: 15px;
			}
		}

		.blue-box-cta {
			margin-top: 20px;

			a {
				position: absolute;
				color: #fff;
				font-weight: bold;
				font-size: 20px;
				display: block;
				width: 400px;
				padding: 20px;
				height: 80px;
				box-sizing: border-box;
			}

			.book-60 {
				background: #ff8400;
				padding-top: 30px;
				left: 25px;
			}

			.view-checklist {
				background: #e75a3f;
				right: 25px;
			}
		}
	}
}